@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');


*{
  margin: 0;
  padding: 0;
  color: #171717;
  font-family: 'Actor', sans-serif;
}

h1 h2 h3 h4 h5 h6{
  color: #DC241F;
}

ul li{
  list-style: none;
}

a{
  cursor: pointer;
}
.background-image{
  background-image: url("./assets/images/tech-people.jpg");
  filter:  grayscale(25%) brightness(80%) contrast(75%) saturate(80%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -1;

}